header{
  color: #fff;
  text-align: center;
  padding: 20px 10px;
}

header span span{
  width: 30%;
  font-size: 20px;
}

header p{
  font-size: 25px;
}

main{
  margin: 0 auto;
  padding: 80px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
}

.space-wrapper{
  width: 40%;
  border-radius: 12px;
  background-color: #fff;
  margin-bottom: 15px;
}


.space-img{
  width: 100%;
  border-radius: 12px 12px 0 0;
}



.space-info{
  padding: 2px 16px;
}

.space-info p {
  font-size: 14px;
}

.cards-container{
  margin: 0 auto;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-self: end;
}

.heart .share{
  padding: 12px;
  width: 20px;
  height: 20px;
}

.heart{
  border: 2px solid #000;
  margin-right: 15px;
}

.heart:hover{
  border-color: rgb(187, 10, 10);
}

.share{
  border: 2px solid #000;
}

.share:hover{
  border-color: rgb(4, 32, 192);
}